#!/usr/bin/make -f

SHELL := /bin/bash

override_dh_auto_build:
	dh_auto_build
	python3 setup.py bdist_wheel

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp
	install -Dpm755 -d debian/tmp/usr/share/python-wheels
	install -Dpm644 -t debian/tmp/usr/share/python-wheels dist/*.whl
	find debian/tmp/usr/lib/python*/*-packages -type f -name '*.pyc' -exec rm -rf {} \;
	fdupes -qnrps debian/tmp/usr/lib/python*/*-packages

override_dh_auto_test:

override_dh_auto_clean:

%:
	dh $@ --buildsystem=pybuild --with python3
